body {
  margin: 10px;
}

#navi {
   text-align: right;
}

#logo {
  height:50px;
  width:150px;
}
.advanced {
  padding: 20px;
  margin-top: 25px;
  margin-left: 10px;
  color: #CD2602;
  font-size: 24px;
}

.list-group li, .list-group-horizontal li {
  border-top: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

.inputField {

  border-radius: 10px;
  padding: 5px;
  width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: content-box;
}
}
#inputField {
   border-radius: 25px;
   padding: 5px;
   width: 350px;
   margin-top: 20px;
   margin-bottom: 20px;
   box-sizing: content-box;
}

#container {
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}
